@model WebApplication4.Models.User

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";

}

<div>

    <hr />
    <dl class="dl-horizontal">
        <body>
            <h2>Home Page</h2>


            <label>Welcome </label>
            @Html.DisplayFor(model => model.UserName)
            <br />
            <table border="1">
                <thread>
                    <tr>
                        <th>Pet Name</th>
                        <th>Pet Breed</th>
                        <th>Pet Vaccination</th>
                        <th>Pet Vaccination Date</th>
                    </tr>
                </thread>
                <tbody>
                    @foreach (var item in Model.List)
                    {
                        <tr>
                            <th>@item.PetName</th>
                            <th>@item.PetBreed</th>
                            <th>@item.Vaccination</th>
                            <th>@item.VaccinationDate</th>
                        </tr>
                    }
                </tbody>
            </table>
            <br />
        </body>


    </dl>
</div>


    
