@model WebApplication4.Models.User

@{
    ViewBag.Title = "Index";
}

<div>

    <hr />
    <dl class="dl-horizontal">

        <h2>Home Page</h2>
        <body>

            <label>User Name : </label>
            @Html.DisplayFor(model => model.UserName)
            <br />
            <label>Email : </label>
            @Html.DisplayFor(model => model.Email)
            <br />


            <br />
            @Html.ActionLink("Add Pets", "AddPets", "Home", Model, null)
            <br />
            @Html.ActionLink("Upload Vaccination Document", "Upload", "Home", Model, null)
            <br />
            @Html.ActionLink("Email Vet", "Email", "Home", Model, null)
            <br />
            @Html.ActionLink("View Pet Breeds", "PieChart", "Home")
            <br />

        </body>


    </dl>
</div>


    
