@model WebApplication4.Models.User

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";

}
<style>
    table, th, td {
        border: 1px solid black;
        border-style: double;
    }
    th, td {
        background-color: #DCDCDC;
        padding: 5px;
    }
</style>
<div>
    <body>
        <hr />
        

            <h2>Home Page</h2>


            <label>Welcome </label>
            @Html.DisplayFor(model => model.UserName)
            <br />
            <table style="width:100%">
                <thread>
                    <tr>
                        <th> Pet Name </th>
                        <th> Pet Breed </th>
                        <th> Pet Vaccination </th>
                        <th> Pet Vaccination Date </th>
                    </tr>
                </thread>
                <tbody>
                    @foreach (var item in Model.List)
                    {
                        <tr>
                            <td>@item.PetName</td>
                            <td>@item.PetBreed</td>
                            <td>@item.Vaccination</td>
                            <td>@item.VaccinationDate</td>
                        </tr>
                    }
                </tbody>
            </table>
            <br />
    </body>


    
</div>


    
